/* 
        body{
            background-color: rgb(#DCDCDC);
            padding-top: 20px;
            padding-left: 25px;
            padding-right: 25px;
        } */

        .aboutUs {
            font-family: 'Saira Extra Condensed', serif;
            font-weight: 1000;
            font-size: 150%;
            text-transform: uppercase;
            color: rgb(23, 174, 219);
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 15px;
        }
        .location {
            font-family: 'Saira Extra Condensed', serif;
            font-weight: 1000;
            font-size: 150%;
            text-transform: uppercase;
            color: rgb(23, 174, 219);
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 0px;
        }

        .address {
            font-family: 'Saira Extra Condensed', serif;
            font-weight: 1000;
            text-transform: uppercase;
            color: rgb(23, 174, 219);
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 20px;
        }

        .information {
            background-color: rgb(24, 174, 242);
            color: #000000;
            padding: 20px;
        }
        .in{
            padding-left: 20px;
        }
        .in1{
            padding-left: 0px;
        }
        .container{
            padding-left: 0px;
            color: rgb(255, 255, 255);
        }
        img {

            width: 200px;
            height: auto;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
        .map {
            width: 100%;
            height: 400PX;
            padding: 0px;
            border-width: 0px;
            margin: 0px;
            left: 0px;
            top: 0px;
        }

        .logo {
            align-self: center;
        }

        .logo img {
            width: 400px;
        }
        
    