

*{
    font-family:'Khmer OS Battambang', 'Roboto';
}
body{
    background: #f8f9fa;
}
h2{
    color: black;
    margin-top: 5px;
}
#header{
    border-radius:3px; 
    /* width: 105%; */
    margin-top: 1%;
    margin-bottom: 1.5%; 
    /* margin-left: 0%; */
    background-color: #f8f9fa
}
.containerContact{
    border-radius:3px; 
    display: flex;
    flex-direction: row; 
    margin-bottom: 2%;
    margin-left:-2%;
    padding: 1%;
    width: 105%;
    background-color: rgb(255, 255, 255);
    /* background-color: #f0f0f0; */
 }
.fillContact{

    margin-top: 2%;
    width: 100%;
}
#fName{
    padding-left: 8%;
    text-align: right;
}
/* Style for Address */
.address{
    width: 100%;
    margin-left: 20px;
    line-height: 25px;
}
.phone1{
    padding-left: 3%;
}
.btnSend{
    margin-top: -2%;
    float: right;
    margin-right: 2%;
   
}
.btnSubmit{
    background-color: #007bff;
    width: 120%;
    padding: 10%;
    color: white;
    border: 1px solid;
    
}
.btnSubmit:hover{
   background-color: #0072ec;
   color: white;
}
/* Style for address symble */
#btpStyle{
    color: rgb(36, 159, 207);
    font-size: 110%;
}
/* Style of denhtlai */
.dName{
    margin-top: 2%;
}
/* link style */
#Link{
    text-decoration: none;
}

/* Style for Footer */
.footer{
    background-color: rgb(255, 255, 255);
}
.header{
    background-color: rgb(255, 255, 255);
}

  /* Responsive Screen solution */
  
  @media screen and (max-width: 768px) {
    .containerContact {
       display: flex;
       flex-direction: column;
       width: 90%;
     }
     .fillContact, .address{
         width: 98%;  
     }
     #fName{
         width: 98%;
         padding-left: 15px;
         padding-right: 15px;
         text-align: left;
     }
   } 

   @media screen and (max-width: 640px) {
    .containerContact {
       display: flex;
       flex-direction: column;
       width: 90%;
     }
     .fillContact, .address{
         width: 98%;  
     }
     #fName{
         width: 100%;
         padding-left: 15px;
         padding-right: 15px;
         text-align: left;
     }
    
   }
