.nav-link{
    font-size: 1.1em;
    /* font-weight: bold; */
}
@media only screen and (max-width: 316px) {
    .navbar-brand img{
        width: 175px;
    }
}
@media only screen and (max-width: 767px){
    .slide-header{
        display: none;
    }
}
.slide-category{
    padding: 10px 10%;
}
#topBar{
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    padding: 0;
    font-size: 13px;
}
.card-item{
    padding: 10px 1%;
}
.carousel-inner .carousel-item img{
    height: 290px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.img-footer img:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 45%;
}
.footer-contactUs{
    font-size: 15px;
}
