body{
    margin: 0;
    padding: 0;
    background: url(image.jpg);
    background-size: cover;
    background-position: center;
    font-family: "Khmer OS Battambang";
}
.login-box{
    width: 320px;
    height: 420px;
    background: rgba(30, 76, 243, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 15px;
    -webkit-box-shadow: 1px 2px 18px 0px rgba(0,0,0,0.61);
    -moz-box-shadow: 1px 2px 18px 0px rgba(0,0,0,0.61);
    box-shadow: 1px 2px 18px 0px rgba(0,0,0,0.61);
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}
h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}
.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}
.login-box input{
    width: 100%;
    margin-bottom: 20px;
}
.login-box .cambodia{
    width: 100%;
    height: 30px;
    margin: 20px 0px;
}
.login-box #txtNumber
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}
.login-box #btnLogin
{
    border: none;
    outline: none;
    height: 40px;
    background: #1c8adb;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.login-box #btnlogin:hover
{
    cursor: pointer;
    background: #39dc79;
    color: #000;
}

.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}
.login-box a:hover
{
    color: #39dc79;
}
.login-box .privacy{
    text-align: center;
}
.login-box #error{
    margin-bottom: 20px;
    color: red;
    text-align: center;
}
/* CSS for profile */
ol.breadcrumb {
    padding: 10px;
    margin-top: 10px;
}
.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.panel li{
    display: block;
    width: 100%;
}

/* #fname{
    background-color: red;
    margin-top: -24px;
}
#lname{
    background-color: red;
    margin-top: -20px;
}
#gender{
    margin-top: 30px;
}
#sex{
    margin-top: -24px;
} */




























































