

*{
    font-family:'Khmer OS Battambang', 'Roboto';
}
body{
    display: inline-block;
    display: flex;
    flex-direction: column; 
    /* background-color:  #7f17f556; */
    background-color: #f0f0f0;
}
h2{
    color: black;
    font:bold;
}
#header{
    border-radius:3px; 
    width: 85.3%;
    margin-top: 5%;
    margin-bottom: 1.5%;
    margin-left: 7.2%;
    margin-right: 7.2%;
    /* background-color:  #d2abfd56; */
    background-color: rgba(225, 137, 255, 0.274);
}
.container{
    border-radius:3px; 
    display: flex;
    flex-direction: row; 
    padding: 10px;
    /* background-color: rgba(250, 234, 255, 0.808); */
    background-color: rgb(255, 255, 255);
 }
.fillContact{
    margin-top: 2%;
    width: 65%;
}
#fName{
    padding-left: 8%;
    text-align: right;
}
/* Style for Address */
.address{
    width: 65%;
    margin-left: 20px;
}
.phone1{
    padding-left: 3%;
}
.btnSend{
    float: right;
    
}
.btn{
    background-color: rgb(9, 202, 202);
}
.btn:hover{
   background-color: slateblue;
   color: white;
}
/* Style for address symble */
#btpStyle{
    color: rgb(36, 159, 207);
    font-size: 110%;
}
/* Style of denhtlai */
.dName{
    margin-top: -2%;
}
/* link style */
#Link{
    text-decoration: none;
}

  /* Responsive Screen solution */
  
  @media screen and (max-width: 768px) {
    .container {
       display: flex;
       flex-direction: column;
       width: 90%;
     }
     .fillContact, .address{
         width: 98%;  
     }
     #fName{
         width: 98%;
         padding-left: 15px;
         padding-right: 15px;
         text-align: left;
     }
   } 

   @media screen and (max-width: 640px) {
    .container {
       display: flex;
       flex-direction: column;
       width: 90%;
     }
     .fillContact, .address{
         width: 98%;  
     }
     #fName{
         width: 100%;
         padding-left: 15px;
         padding-right: 15px;
         text-align: left;
     }
    
   }
